.ait-header {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  text-align: left;
  padding: 1rem;
  background: rgba(255,255,255,0.02);
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__logo {
    margin: 0;
    font-weight: 300;
    font-size: 1rem;
  }

  &__logo-link {
    text-decoration: none;
  }

  &__version {
    font-size: 10px;
  }

}
