html, body, h1{
  margin: 0;
  padding: 0;
}

html {
  font-size: 19px;
}

body {
  font-family: system, -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", "Lucida Grande", sans-serif;
  background: #333 asset-url('footer_lodyas--blue.png');
  font-weight: 300;
  color: #eee;
}

a:link, a:visited {
  color: #eee;
}

a:hover, a:active {
  color: #fff;
}

.ait-header {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  text-align: left;
  padding: 1rem;
  background: rgba(255,255,255,0.02);
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__logo {
    margin: 0;
    font-weight: 300;
    font-size: 1rem;
  }

  &__logo-link {
    text-decoration: none;
  }
  
}

.ait-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.ait-quote {
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 1.4;
  padding: 1rem 5rem;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.3);

  &__intro {
    font-size: 1rem;
  }

  &__content {
    font-size: 2rem;
  }

  &__meta {
    font-size: 0.7rem;
    font-weight: 300;
  }

  &__permalink {
    color: #eee;
  }
}
